body {
    font-family: Arial, sans-serif;
    background-image: url(https://gamemag.ru/images/imagemanager/cache/74/8f11/748f11_3.-.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba;
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    text-decoration: white;
    color: #4fdbde;
}

header nav ul li ul {
    display: none; /* скрываем вложенные списки */
    position: absolute; /* абсолютное позиционирование */
    background-color: rgba(0, 0, 0, 0.5); /* задаем фон для выпадающего меню */
    padding: 10px;
}

header nav ul li:hover ul {
    display: block; /* отображаем выпадающее меню при наведении на элемент списка */
}

header nav ul li ul li {
    display: block;
}

header nav ul li ul li a {
    color: white; /* цвет ссылок в выпадающем меню */
    text-decoration: none;
}

main {
    padding: 20px;
}

main section {
    margin-bottom: 20px;
    color: white;
}

main section h2 {
    color: #ffffff;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


a {
    transition: color 0.3s ease;
}

a:hover {
    color: darken(#ffffff, 20%);
}