// Переменные
$primary-color: #007bff;

// Стили для элементов страницы
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: $primary-color;
    color: white;

    h1 {
        margin: 0;
        padding: 20px;
    }

    nav {
        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                margin-right: 10px;

                a {
                    color: white;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

main {
    padding: 20px;

    section {
        margin-bottom: 20px;

        h2 {
            color: $primary-color;
        }
    }
}

footer {
    background-color: $primary-color;
    color: white;
    text-align: center;
    padding: 20px;
}

// Медиа-запросы для адаптивного дизайна
@media (max-width: 768px) {
    header {
        nav {
            ul {
                li {
                    display: block;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

// Анимация
a {
    transition: color 0.3s ease;

    &:hover {
        color: darken($primary-color, 20%);
    }
}
